
  #banner {
    font-family: "Garamond";
    text-align: left;
    background-color: #fbf9e3;
    background-image: url('https://raw.githubusercontent.com/A-Noe-NU/A-Noe-NU.github.io/main/banner.png');
    background-position: 0% 0%;
    background-size: cover;
    padding: 1vh 20px;
  }

  .body {
    text-align: center;
    margin: 0;
  }

  .section div {
    display: flex;
    align-items: left;
    font-family: "Garamond";
    padding: 50px;
    flex: 1;
  }
  
  .section p {
    display: flex;
    padding: 50px;
    flex: 1;
    font-family: "Garamond";
  }
  
  .section {
    display: flex;
    flex: 1;
    font-family: "Garamond";
    margin: 20px;
  }






  #tooltip {
      background: white;
      border: 1px solid black;
      border-radius: 5px;
    display: none;
    padding: 5px;
    position: absolute;
    font-family: "Garamond";
  }